{% extends 'base.html' %}


{% block title %}
Регистрация
{% endblock %}


{% block body %}
<form action="/regestr" method='post' class="form-reg">
    <h2>Регистрация</h2>
    {% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{cat}}"> {{msg}}</div>
    {% endfor %}
    <p><label>
            <h4>Логин: </h4>
            <p>
                <h9>от 6 символов (латинский алфавит, цифры)</h9>
            </p>
        </label>
        <input type="text" name="username" value="" required />
    <p><label>
            <h4>Пароль: </h4>
            <p>
                <h9>от 8 символов (латинский алфавит верхний и нижний
                    регистр, специальные символы)</h9>
            </p>
        </label>
        <input type="password" name="password" value="" required />
    <p><label>
            <h4>Email: </h4>
        </label>
        <input type="text" name="email" value="" required />
    <p>
    <p></p><input type="submit" value="Зарегистрироваться" />
</form>


{% endblock %}